<% layout('./layout/page') -%>
<% block('item1', '<li class="nav-item"><a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"> </a></li>') -%>
<% block('item2', '<li class="nav-item"><button style="border:0px solid white; background-color: transparent;margin-left:auto;margin-right:auto;display:block;margin-top:0%;margin-bottom:0%; color: white;" id="logout-btn" type="submit" padding: "10px 24px;" font-size: "10px;">Log Out</button></li>') -%>

<div style="text-align:center">
<a href = "/history" align ="centre">Click for Previous Chat</a></div>
<div style="text-align:center">
<a href = "/report" align ="centre">Report for Chats and Users</a></div>
<div id="room" style="width: 80%; margin: 0 auto;">
  <p>Hello, <%=user.get('username')%></p>
  <ul class="list-group"></ul>
  <hr>
  <form>
    <input  class="form-control" autocomplete="off" autofocus placeholder="Message...">
  </form>
</div>

<script>
  $(function() {
      $(document).find('#logout-btn').on('click', function(e)
      {
          e.preventDefault();
          $.ajax({
              type: 'POST',
              url: '/logout',
              statusCode: {
                200: function() {
                  window.location.href = "/login";
                }
              }
          });
      });
  });
</script>

<script>
  $(function() {
      $(document).find('#history-btn').on('click', function(e)
      {
          e.preventDefault();
          $.ajax({
              type: 'POST',
              url: '/history',
              statusCode: {
                200: function() {
                  window.location.href = "/chat";
                }
              }
          });
      });
  });
</script>

<script src="/socket.io/socket.io.js"></script>

<script>
  var input = $('#room input');
  var ul = $('#room ul');
  var form = $('#room form');

  var socket = io.connect('', {
    reconnect: false
  });

  socket
      .on('message', function(username, message) {
        printMessage(username + "> " + message +"-@-"+Date(Date.now()).toLocaleString());
      })
      .on('leave', function(username) {
        printStatus(username + " left the chat");
      })
      .on('join', function(username) {
        printStatus(username + " in chat");
      })
      .on('connect', function() {
        printStatus("connection established");
        form.on('submit', sendMessage);
        input.prop('disabled', false);
      })
      .on('disconnect', function() {
        printStatus("connection lost");
        form.off('submit', sendMessage);
        input.prop('disabled', true);
        this.$emit('error');
      })
      .on('logout', function() {
        location.href = "/";
      })
      .on('error', function(reason) {
        if (reason == "handshake unauthorized") {
          printStatus("you left");
        } else {
          setTimeout(function() {
            socket.socket.connect();
          }, 500);
        }
      });

  function sendMessage() {
    var text = input.val();
    var date_string = new Date(Date.now()).toLocaleString()
    socket.emit('message', text, function() {
      printMessage("me> " + text + "--"+date_string);
    });

    input.val('');
    return false;
  }

  function printStatus(status) {
    $('<li>').append($('<i>').text(status)).appendTo(ul);
  }

  function printMessage(text) {
    $('<li>').text(text).appendTo(ul);
  }

</script>
