<% layout('./layout/page') -%>
<% block('item1', '<li class="nav-item"><a class="nav-link" href="/login">Login</a></li>') -%>
<% block('item2', '<li class="nav-item"><a class="nav-link" href="/reg">Registration</a></li>') -%>
<hr>
<div style="width: 60%; margin: 0 auto;">
<form method="post" class="form-signin text-center">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputNickname" class="sr-only">Nickname</label>
    <input type="text" id="inputNickname" class="form-control" placeholder="Nickname" required="" autofocus="">
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
    <div class="checkbox mb-3">
    </div>
    <button id="sgn-btn" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
</form>
<span class="help-block error"></span>
</div>

<script>

    $(function() {
        $(document).find('#sgn-btn').on('click', function(e)
        {
            e.preventDefault();
    
            var data = {
                username: $(document).find('#inputNickname').val(),
                password: $(document).find('#inputPassword').val(),
            };
    
            $.ajax({
                type: 'POST',
                data: JSON.stringify(data),
                contentType: 'application/json',
                url: '/login',
                statusCode: {
                    200: function() {
                    window.location.href = "/chat";
                    },
                    403: function(jqXHR) {
                    var error = JSON.parse(jqXHR.responseText);
                    $(document).find('.error').text("Wrong Details");
                    }
                }
            });
        });
    });
</script>
