<html>
<head>
<title>Politics Sentiment Analysis</title>
</head>
<FRAMESET cols="70%, 30%">
	<FRAME src="http://localhost:3000/frame_technology/politicsdata">
	<FRAMESET rows="80, 100">
		<FRAME src="http://localhost:8000/graph_politics">
		<FRAME src="http://localhost:3030/">
</FRAMESET>

</html>
